In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('dataset_3.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [ ]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [5]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [6]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [7]:
calories_mean = df['Calories'].mean()
df['Calories'].fillna(calories_mean, inplace=True)

C:\Users\saipr\AppData\Local\Temp\ipykernel_1956\64269348.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].fillna(calories_mean, inplace=True)

In [8]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [ ]:
df = df.sort_values(by='Date').reset_index(drop=True)

In [ ]:
df[df['Date'].isna()]

    Duration Date  Pulse  Maxpulse  Calories
31        45  NaN    100       119     282.0

In [11]:
df['Date'] = df['Date'].ffill().bfill()

In [12]:
df.isna().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [13]:
duration_mode = df['Duration'].mode()[0]
duration_mode

60

In [14]:
Q1 = df['Duration'].quantile(0.25)
Q3 = df['Duration'].quantile(0.75)
IQR = Q3 - Q1

upper_bound = Q3 + 1.5 * IQR
upper_bound

60.0

In [15]:
high_duration_outliers = df[
    df['Duration'] > upper_bound
]

high_duration_outliers

   Duration          Date  Pulse  Maxpulse  Calories
7       450  '2020/12/08'    104       134     253.3

In [ ]:
df.loc[df['Duration'] > upper_bound, 'Duration'] = duration_mode

In [ ]:
df['Duration'].describe()
df[df['Duration'] > upper_bound]

Empty DataFrame
Columns: [Duration, Date, Pulse, Maxpulse, Calories]
Index: []

In [ ]:
df.drop_duplicates(inplace=True)

In [19]:
from sklearn.preprocessing import StandardScaler

standard_scaler = StandardScaler()
df_standard = df.copy()
df_standard[['Duration','Pulse','Maxpulse','Calories']] = (
    standard_scaler.fit_transform(df_standard[['Duration','Pulse','Maxpulse','Calories']])
)

In [20]:
df_standard.head()

   Duration          Date     Pulse  Maxpulse  Calories
0  0.510061  '2020/12/01'  0.818140  0.094980  1.627893
1  0.510061  '2020/12/02'  1.714788  1.257241  2.736104
2  0.510061  '2020/12/03' -0.078508  0.482401  0.532365
3 -1.466426  '2020/12/04'  0.690047  3.581761 -0.380839
4 -1.466426  '2020/12/05'  1.714788  1.489693  1.578745

In [ ]:
from sklearn.preprocessing import MinMaxScaler
minmax_scaler = MinMaxScaler()
df_minmax = df.copy()
df_minmax[['Duration','Pulse','Maxpulse','Calories']] = (
    minmax_scaler.fit_transform(df_minmax[['Duration','Pulse','Maxpulse','Calories']])
)

In [22]:
df_minmax.head()

   Duration          Date  Pulse  Maxpulse  Calories
0       1.0  '2020/12/01'  0.500  0.391892  0.753787
1       1.0  '2020/12/02'  0.675  0.594595  1.000000
2       1.0  '2020/12/03'  0.325  0.459459  0.510391
3       0.5  '2020/12/04'  0.475  1.000000  0.307503
4       0.5  '2020/12/05'  0.675  0.635135  0.742867

In [23]:
from sklearn.preprocessing import RobustScaler

robust_scaler = RobustScaler()
df_robust = df.copy()
df_robust[['Duration','Pulse','Maxpulse','Calories']] = (
    robust_scaler.fit_transform(df_robust[['Duration','Pulse','Maxpulse','Calories']])
)

In [24]:
df_robust.head()

   Duration          Date     Pulse  Maxpulse  Calories
0       0.0  '2020/12/01'  1.000000      0.16  1.203530
1       0.0  '2020/12/02'  2.000000      1.36  1.974628
2       0.0  '2020/12/03'  0.000000      0.56  0.441258
3     -15.0  '2020/12/04'  0.857143      3.76 -0.194153
4     -15.0  '2020/12/05'  2.000000      1.60  1.169333

In [25]:
from sklearn.preprocessing import MaxAbsScaler

maxabs_scaler = MaxAbsScaler()
df_maxabs = df.copy()
df_maxabs[['Duration','Pulse','Maxpulse','Calories']] = (
    maxabs_scaler.fit_transform(df_maxabs[['Duration','Pulse','Maxpulse','Calories']])
)

In [26]:
df_maxabs.head()

   Duration          Date     Pulse  Maxpulse  Calories
0      1.00  '2020/12/01'  0.846154  0.742857  0.854071
1      1.00  '2020/12/02'  0.900000  0.828571  1.000000
2      1.00  '2020/12/03'  0.792308  0.771429  0.709812
3      0.75  '2020/12/04'  0.838462  1.000000  0.589562
4      0.75  '2020/12/05'  0.900000  0.845714  0.847599