In [6]:
# --- Cell 1: Load Your Dataset ---

import pandas as pd

# Replace "your_dataset.csv" with your actual file name
df = pd.read_csv("Sports_data.csv")

df

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [7]:
# --- Cell 2: Initialize hypothesis and select positive examples ---

target_column = 'enjoy sport'

# Select only positive training examples
positive_examples = df[df[target_column] == 'yes']

# Initialize hypothesis with the most specific values
hypothesis = ['Ø'] * (len(df.columns) - 1)

positive_examples

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
3  sunny     warm     high  strong  cool   change         yes

In [8]:
# --- Cell 3: Find-S algorithm ---

feature_columns = [col for col in df.columns if col != target_column]

for index, row in positive_examples[feature_columns].iterrows():
    for i, attribute in enumerate(row):
        if hypothesis[i] == 'Ø':
            hypothesis[i] = attribute
        elif hypothesis[i] != attribute:
            hypothesis[i] = '?'

hypothesis

['sunny', 'warm', '?', 'strong', '?', '?']

In [9]:
# --- Cell 4: Final hypothesis---

print("Final Find-S Hypothesis:")
for col, h in zip(feature_columns, hypothesis):
    print(f"{col}: {h}")

Final Find-S Hypothesis:
sky: sunny
air temp: warm
humidity: ?
wind: strong
water: ?
forecast: ?