In [1]:
# --- Cell 1: Create your given dataset ---

import pandas as pd

data = {
    'Veg':      ['Veg', 'Veg', 'Non-Veg', 'Veg', 'Veg', 'Non-Veg', 'Veg'],
    'Spicy':    ['Spicy', 'Normal', 'Spicy', 'Spicy', 'Normal', 'Spicy', 'Spicy'],
    'Cheap':    ['Cheap', 'Cheap', 'Expensive', 'Cheap', 'Cheap', 'Cheap', 'Expensive'],
    'Street':   ['Street', 'Restaurant', 'Restaurant', 'Street', 'Restaurant', 'Street', 'Restaurant'],
    'Popular':  ['Popular', 'Popular', 'Popular', 'New', 'New', 'Popular', 'Popular'],
    'Yes':      ['Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No']
}

df = pd.DataFrame(data)
df

       Veg   Spicy      Cheap      Street  Popular  Yes
0      Veg   Spicy      Cheap      Street  Popular  Yes
1      Veg  Normal      Cheap  Restaurant  Popular  Yes
2  Non-Veg   Spicy  Expensive  Restaurant  Popular   No
3      Veg   Spicy      Cheap      Street      New  Yes
4      Veg  Normal      Cheap  Restaurant      New  Yes
5  Non-Veg   Spicy      Cheap      Street  Popular   No
6      Veg   Spicy  Expensive  Restaurant  Popular   No

In [2]:
# --- Cell 2: Select only positive examples (Yes = Yes) ---

target_column = 'Yes'

positive_examples = df[df[target_column] == 'Yes']

positive_examples

   Veg   Spicy  Cheap      Street  Popular  Yes
0  Veg   Spicy  Cheap      Street  Popular  Yes
1  Veg  Normal  Cheap  Restaurant  Popular  Yes
3  Veg   Spicy  Cheap      Street      New  Yes
4  Veg  Normal  Cheap  Restaurant      New  Yes

In [3]:
# --- Cell 3: Run Find-S ---

feature_columns = [col for col in df.columns if col != target_column]

hypothesis = ['Ø'] * len(feature_columns)

for index, row in positive_examples[feature_columns].iterrows():
    for i, attribute in enumerate(row):
        if hypothesis[i] == 'Ø':
            hypothesis[i] = attribute
        elif hypothesis[i] != attribute:
            hypothesis[i] = '?'

hypothesis

['Veg', '?', 'Cheap', '?', '?']

In [4]:
# --- Cell 4: Final hypothesis ---

print("Final Find-S Hypothesis:")
for col, h in zip(feature_columns, hypothesis):
    print(f"{col}: {h}")

Final Find-S Hypothesis:
Veg: Veg
Spicy: ?
Cheap: Cheap
Street: ?
Popular: ?